<%- include('header') %>

<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Form Basic</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Library
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form class="form-horizontal" method="post" action="/exsubcatagory/insertexsubcatagory">
            <div class="card-body">
              <h4 class="card-title">Personal Info</h4>
              <div class="form-group row">
                <label
                  for="fname"
                  name="name"
                  class="col-sm-3 text-center control-label col-form-label"
                  
                  >Catagory Name</label
                >
                <div class="col-sm-9">
                 <select class="form-control" name="catagory" onchange="categoryRecord()" id="catagory"> 
                    <option value=""> ---- select  catagory ----</option>
                    <% catagory.map((c)=>{ %>
                        <option value="<%= c.id  %>">
                          <%= c.catagory_name %> 
                        </option>
                  <%  }) %>
                 </select>
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="fname"
                  name="name"
                  class="col-sm-3 text-center control-label col-form-label"
                  >SubCatagory Name</label
                >
                <div class="col-sm-9">
                 <select class="form-control" name="subcatagory" id="subcatagory"> 
                    <option value=""> ---- select sub catagory ----</option>
                   
                 </select>
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="fname"
                  name="name"
                  class="col-sm-3 text-center control-label col-form-label"
                  >ExtraSub catagory :</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="fname" name="exsubcatagory"
                    placeholder="sub catagory Name Here"
                  />
                </div>
              </div>
            </div>
            <div class="border-top">
              <div class="card-body">
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
       
        
      </div>
      
    </div>
    <!-- editor -->
  
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>

<%- include('footer') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  const categoryRecord = (req , res) => {
  let catagory = document.getElementById("catagory").value;
  $.ajax({
    type : 'GET',
    url : `/exsubcatagory/ajaxgetCatagory?id=${catagory}`,
    success : function(res){
      let tbl = "";
      let catagory = res.catagory
      tbl += `<option value="">---- select catagory ----</option>`;
      catagory.map((subcat)=>{
        console.log(subcat);
        
        tbl += `
          <option value="${subcat._id}">${subcat.subcatagory}</option>
        `
      })
      document.getElementById("subcatagory").innerHTML = tbl;



    }
  })
}
</script>